.main-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #000000;
}

.header-navigation {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 83%;
    top: 16px;
}

.btn-navigation-l {
    background: transparent;
    width: 69px;
    height: 22px;
    margin-right: 23px;
    border: none;
}

.btn-navigation-r {
    background: transparent;
    height: min-content;
    width: 72px;
    height: 22px;
    border: none;
}

.txt-navigation {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    text-align: center;

    color: #FFFFFF;
    text-shadow: 3px 3px 3px #000; 
    margin: 0;
}

.text-header-main {
    height: 22px;
    width: 44px;
    left: 54%;
    top: 92%;
    border-radius: nullpx;
    position: absolute;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

.list-products-white {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list-products-black {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}