.register_navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.inp_register{
    height: 40px;
    width: 26%;
    margin-bottom: 28px;
    margin-left: 25%;
    padding: 0 32px;
    border: none;
}