.order-info-text {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.order-element {
    display: grid;
    grid-template-columns: 22% 25% 16% 23% 8% ;
}

.btn-order-status-changer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
    border: none;
}